---
layout: default
---
<div>
  <!--Header -->
  <div class="container bg-dark mw-100 py-5">
    <div class="row align-items-center section-title">
      <div class="col-md-12">
        <h4 class="text-muted pt-5">@{{ site.github_username }}</h4>
      </div>
      <div class="col-md-12">
        <h1 class="display-3 text-white pb-5">{{ page.title }}</h1>
      </div>
    </div>
  </div>

  <!-- About Me -->
  <div class="container mw-100">
    <div class="row bg-light py-5">
      <div class="col-md-4 text-center mb-4">
        <img src="/images/about.png" class="rounded-circle img-about" alt="Me!">
      </div>
      <div class="col-md-8 px-4">
        <div class="row">
          <div class="col-md-6">
            <div class="section-title">
              <h2>About Me</h2>
              <hr>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="text-justify">
              <p>{{ page.about | markdownify }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Timeline -->
  <div class="container py-5">
    <div class="row justify-content-center px-3">
      <div class="col-md-6"> 
        <div class="section-title text-center mb-4">
          <h2>Timeline</h2>
          <hr>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="timeline">
        {% for item in page.timeline %}
          <div class="timeline-container timeline-card-{% cycle 'left', 'right' %}">
            <div class="timeline-content">
              <h4>{{ item.title }}</h4>
              <h5>{{ item.subtitle | markdownify }}</h5>
              <h6>{{ item.year }}</h6>
              <div class="text-justify">
                <p>{{ item.description | markdownify }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
